<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="fa fa-bookmark"> Marcadores</i>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                        placeholder="Filtrar resultados" [formControl]="filter">
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-success btn-circle" placement="top"
                                    tooltip="Eliminar" (click)="addMarkerModal.show();restartMarkerForm();">
                                    <i class="fa fa-bookmark"></i> Agregar marcador</button>

                            </div>
                        </div>
                    </form>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th>Nombre</th>
                                <th>Tipo</th>
                                <th>usuario que creo</th>
                                <th>Fecha de creacion</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let marker of markers; index as i" style=" height: 10px;overflow:hidden;">
                                <td>{{marker.name}}</td>
                                <td>{{marker.type}}</td>
                                <td>{{marker.userWhoCreated}}</td>
                                <td>{{marker.date}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle" tooltip="Editar"
                                        placement="top" (click)="
                                        setSelectedMarker(marker);
                                        restartMarkerForm();
                                        editMarkerModal.show()">
                                        <i class="fa fa-pencil-square-o" aria-hidden="false"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-circle" placement="top"
                                        tooltip="Eliminar" (click)="setSelectedMarker(marker);deleteMarkerModal.show()">
                                        <i class="fa fa-window-close"></i></button>
                                </td>
                            </tr>
                            <div class="text-center py-3" *ngIf="this.markers.length==0">No se encontraron resultados
                            </div>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
                            [pageSize]="pageSize" [maxSize]="5">
                        </ngb-pagination>

                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                            <option [ngValue]="100">100 resultados</option>
                            <option [ngValue]="150">150 resultados</option>
                            <option [ngValue]="200">200 resultados</option>
                            <option [ngValue]="300">300 resultados</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODALS -->

<div bsModal #addMarkerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar marcador</h5>
                <button type="button" class="close" (click)="addMarkerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="markerForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Nombre :</label>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre del marcador">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="name">Tipo :</label>
                            <select id="select1" name="select1" class="form-control" formControlName="typeId">
                                <option value="1">AUTOSOMICO</option>
                                <option value="2">CROMOSOMA Y</option>
                                <option value="3">CROMOSOMA X</option>
                            </select>
                        </div>
                    </div>
                </form>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="addMarkerModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="addMarker()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #editMarkerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar marcador</h5>
                <button type="button" class="close" (click)="editMarkerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="markerForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Nombre :</label>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre del marcador">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="name">Tipo :</label>
                            <select id="select1" name="select1" class="form-control" formControlName="typeId">
                                <option value="0">Seleccione un tipo de marcador</option>
                                <option value="1">AUTOSOMICO</option>
                                <option value="2">CROMOSOMA Y</option>
                                <option value="3">CROMOSOMA X</option>
                            </select>
                        </div>
                    </div>
                </form>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="editMarkerModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="updateMarker()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteMarkerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Editar categoria</h4>
                <button type="button" class="close" (click)="addCategoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <h6>Esta seguro de eliminar el marcador?</h6>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteMarkerModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="deleteMarker()">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->