<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="fa fa-database"> Fuentes</i>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                        placeholder="Filtrar resultados" [formControl]="filter">
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-success btn-circle" placement="top"
                                    tooltip="Eliminar" (click)="addSourceModal.show();restartSelectedSource();restartSourceForm();">
                                    <i class="fa fa-database"></i> Agregar fuente</button>

                            </div>
                        </div>
                    </form>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th>Nombre</th>
                                <th>Identificador interno</th>
                                
                                <th>Identificador externo</th>
                                <th>Contacto</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let source of sources; index as i" style=" height: 10px;overflow:hidden;">
                                <td>{{source.id}}</td>
                                <td>
                                    <h4 style="cursor:pointer;" (click)="setDetailSource(source);detailSourceModal.show()"
                                        class="badge badge-pill badge-success">{{source.internalId}}</h4>
                                </td>
                                <td>{{source.externalId}}</td>
                                <td>{{source.contactName}}</td>
                                <td>{{source.contactEmail}}</td>
                                <td>{{source.contactPhone}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle" tooltip="Editar"
                                        placement="top" (click)="setSelectedSource(source);
                                                restartSourceForm();
                                                editSourceModal.show()">
                                        <i class="fa fa-pencil-square-o" aria-hidden="false"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-circle" placement="top"
                                        tooltip="Eliminar"
                                        (click)="setSelectedSource(source);deleteSourceModal.show();">
                                        <i class="fa fa-window-close"></i></button>
                                </td>
                            </tr>
                            <div class="text-center py-3" *ngIf="this.sources.length==0">No se encontraron resultados
                            </div>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
                            [pageSize]="pageSize" [maxSize]="5">
                        </ngb-pagination>

                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                            <option [ngValue]="100">100 resultados</option>
                            <option [ngValue]="150">150 resultados</option>
                            <option [ngValue]="200">200 resultados</option>
                            <option [ngValue]="300">300 resultados</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->

<div bsModal #addSourceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar nueva fuente</h5>
                <button type="button" class="close" (click)="addSourceModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="sourceForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Nombre * :</label>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre de la fuente">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Correo de contacto :</label>
                                <input type="text" class="form-control" id="name" formControlName="contactEmail"
                                    placeholder="Ingrese el correo de contaco">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Identificador interno * :</label>
                                <input type="text" class="form-control" id="name" formControlName="internalId"
                                    placeholder="Ingrese el identificador interno">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Telefono de contacto :</label>
                                <input type="text" class="form-control" id="name" formControlName="contactPhone"
                                    placeholder="Ingrese el telefono de contacto">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Identificador externo :</label>
                                <input type="text" class="form-control" id="name" formControlName="externalId"
                                    placeholder="Ingrese el identificador externo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Telefono de contacto 2 :</label>
                                <input type="text" class="form-control" id="name" formControlName="otherContactPhone"
                                    placeholder="Ingrese otro telefono de contacto">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Nombre de contacto:</label>
                                <input type="text" class="form-control" id="name" formControlName="contactName"
                                    placeholder="Ingrese el nombre del contacto">
                            </div>
                        </div>
                    </div>
                </form>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="addSourceModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="addSource()"
                    [disabled]="sourceForm.invalid">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- detailSourceModal -->
<div bsModal #detailSourceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle de fuente</h5>
                <button type="button" class="close" (click)="detailSourceModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="detailSourceForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Nombre * :</label>
                                <input readonly type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre de la fuente">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Correo de contacto :</label>
                                <input readonly type="text" class="form-control" id="name" formControlName="contactEmail"
                                    placeholder="Ingrese el correo de contaco">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Identificador interno * :</label>
                                <input readonly type="text" class="form-control" id="name" formControlName="internalId"
                                    placeholder="Ingrese el identificador interno">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Telefono de contacto :</label>
                                <input readonly type="text" class="form-control" id="name" formControlName="contactPhone"
                                    placeholder="Ingrese el telefono de contacto">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Identificador externo :</label>
                                <input readonly type="text" class="form-control" id="name" formControlName="externalId"
                                    placeholder="Ingrese el identificador externo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Telefono de contacto 2 :</label>
                                <input readonly type="text" class="form-control" id="name" formControlName="otherContactPhone"
                                    placeholder="Ingrese otro telefono de contacto">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Nombre de contacto:</label>
                                <input readonly type="text" class="form-control" id="name" formControlName="contactName"
                                    placeholder="Ingrese el nombre del contacto">
                            </div>
                        </div>
                    </div>
                </form>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="detailSourceModal.hide()">Cerrar</button>
                <!-- <button type="button" class="btn btn-success" (click)="updateSource()">Guardar</button> -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- detailSourceModal -->

<div bsModal #editSourceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar nueva fuente</h5>
                <button type="button" class="close" (click)="editSourceModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="sourceForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Nombre * :</label>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre de la fuente">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Correo de contacto :</label>
                                <input type="text" class="form-control" id="name" formControlName="contactEmail"
                                    placeholder="Ingrese el correo de contaco">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Identificador interno * :</label>
                                <input type="text" class="form-control" id="name" formControlName="internalId"
                                    placeholder="Ingrese el identificador interno">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Telefono de contacto :</label>
                                <input type="text" class="form-control" id="name" formControlName="contactPhone"
                                    placeholder="Ingrese el telefono de contacto">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Identificador externo :</label>
                                <input type="text" class="form-control" id="name" formControlName="externalId"
                                    placeholder="Ingrese el identificador externo">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Telefono de contacto 2 :</label>
                                <input type="text" class="form-control" id="name" formControlName="otherContactPhone"
                                    placeholder="Ingrese otro telefono de contacto">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Nombre de contacto:</label>
                                <input type="text" class="form-control" id="name" formControlName="contactName"
                                    placeholder="Ingrese el nombre del contacto">
                            </div>
                        </div>
                    </div>
                </form>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="editSourceModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="updateSource()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #deleteSourceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Editar categoria</h4>
                <button type="button" class="close" (click)="addCategoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <h6>Esta seguro de eliminar la fuente?</h6>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteSourceModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="deleteSource()">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->