<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="icon-action-undo"> Busqueda de perfiles compatibles</i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mb-4">
                        <!-- Nav tabs -->
                        <tabset>
                            <tab>
                                <ng-template tabHeading><i class="icon-user"></i> Individual</ng-template>

                                <form [formGroup]="individualSearchForm">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Perfil a comparar * :</label>
                                                <ng-select [items]="profiles" bindLabel="name"
                                                    placeholder="Seleccione el perfil a comparar" appendTo=" body"
                                                    formControlName="profile">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Perfiles etiquetados como * :</label>
                                                <ng-select [items]="labels" bindLabel="name" multiple="true"
                                                    placeholder="Seleccione las etiquetas" appendTo=" body"
                                                    formControlName="labelsToCompare">
                                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                                            <span class="ng-value-label">{{item.name}}</span>
                                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                                aria-hidden="true">×</span>
                                                        </div>
                                                        <div class="ng-value" *ngIf="items.length > 2">
                                                            <span class="ng-value-label">{{items.length - 2}}
                                                                more...</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Tabla de frequencias * :</label>
                                                <ng-select [items]="frequencies" bindLabel="name"
                                                    placeholder="Seleccione la tabla de frecuencias" appendTo=" body"
                                                    formControlName="frequency">
                                                </ng-select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Marcadores minimos * :</label>
                                                <input class="form-control" type="number" value="42"
                                                    id="example-number-input" formControlName="minimumMarkers">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Exclusiones maximas * :</label>
                                                <input class="form-control" type="number" value="42"
                                                    id="example-number-input" formControlName="maximumExclusions">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Fuente * :</label>
                                                <ng-select [items]="sources" bindLabel="name"
                                                    placeholder="Seleccione la fuente" appendTo=" body"
                                                    formControlName="source">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Descripcion :</label>
                                                <input type="text" class="form-control" id="name"
                                                    formControlName="description" placeholder="Ingrese la descripcion">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Descartar perfiles en revision :</label>
                                                <select class="form-control" id="exampleSelect1"
                                                    formControlName="discardProfilesInReview">
                                                    <option value="true">Si</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success"
                                                    (click)="individualSearch()" style="position: absolute;
                                                    bottom:   0;"
                                                    [disabled]="individualSearchForm.invalid">Buscar</button>
                                            </div>
                                            <div *ngIf="isLoading" class="spinner-border text-success" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </tab>
                            <tab>
                                <ng-template tabHeading><i class="icon-people"></i> Grupal</ng-template>

                                <form [formGroup]="grupalSearchForm">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Perfiles etiquetados como :</label>
                                                <ng-select [items]="labels" bindLabel="name" multiple="true"
                                                    placeholder="Seleccione las etiquetas" appendTo=" body"
                                                    formControlName="targetLabels">
                                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                                            <span class="ng-value-label">{{item.name}}</span>
                                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                                aria-hidden="true">×</span>
                                                        </div>
                                                        <div class="ng-value" *ngIf="items.length > 2">
                                                            <span class="ng-value-label">{{items.length - 2}}
                                                                more...</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Perfiles etiquetados como: :</label>
                                                <ng-select [items]="labels" bindLabel="name" multiple="true"
                                                    placeholder="Seleccione las etiquetas" appendTo=" body"
                                                    formControlName="labelsToCompare">
                                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                        <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                                            <span class="ng-value-label">{{item.name}}</span>
                                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                                aria-hidden="true">×</span>
                                                        </div>
                                                        <div class="ng-value" *ngIf="items.length > 2">
                                                            <span class="ng-value-label">{{items.length - 2}}
                                                                more...</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-select>

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Tabla de frequencias :</label>
                                                <ng-select [items]="frequencies" bindLabel="name"
                                                    placeholder="Seleccione la tabla de frecuencias" appendTo=" body"
                                                    formControlName="frequency">
                                                </ng-select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Marcadores minimos :</label>
                                                <input class="form-control" type="number" value="42"
                                                    id="example-number-input" formControlName="minimumMarkers">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Exclusiones maximas :</label>
                                                <input class="form-control" type="number" value="42"
                                                    id="example-number-input" formControlName="maximumExclusions">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Fuente :</label>
                                                <ng-select [items]="sources" bindLabel="name"
                                                    placeholder="Seleccione la fuente" appendTo=" body"
                                                    formControlName="source">
                                                </ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Descripcion :</label>
                                                <input type="text" class="form-control" id="name"
                                                    formControlName="description" placeholder="Ingrese la descripcion">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="name">Descartar perfiles en revision :</label>
                                                <select class="form-control" id="exampleSelect1"
                                                    formControlName="discardProfilesInReview">
                                                    <option value="true">Si</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success" (click)="grupalSearch()"
                                                    style="position: absolute;
                                                                            bottom:   0;"
                                                    [disabled]="grupalSearchForm.invalid">Buscar</button>
                                                <div *ngIf="grupalIsLoading" class="spinner-border text-success"
                                                    role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </tab>
                            <tab>
                                <ng-template tabHeading><i class="icon-people"></i> Directa</ng-template>

                                <!-- <form [formGroup]="tripleSearchForm">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name">Fuente * :</label>
                                                    <ng-select [items]="sources" bindLabel="name"
                                                        placeholder="Seleccione la fuente" appendTo=" body"
                                                        formControlName="source">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name">Etiquetas :</label>
                                                    <ng-select [items]="labels" bindLabel="name"
                                                        placeholder="Seleccione las etiquetas" appendTo=" body"
                                                        multiple="true" formControlName="labels">
                                                    </ng-select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name">Titulo * :</label>
                                                    <input type="text" class="form-control" id="name"
                                                        formControlName="title"
                                                        placeholder="Ingrese el titulo de la importacion ">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name">Tipo de muestra :</label>
                                                    <input type="text" class="form-control" id="name"
                                                        formControlName="sample"
                                                        placeholder="Ingrese el tipo de muestra">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="name">Observaciones :</label>
                                                    <input type="text" class="form-control" id="name"
                                                        formControlName="observations"
                                                        placeholder="Ingrese las observaciones">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-form-label" for="file-input">Archivo a importar *
                                                        :</label>
                                                    <div class="">
                                                        <input type="file" id="file-input" formControlName="file"
                                                            name="file-input"
                                                            (change)="onFileSelect($event.target.files)" accept=".xlsx">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form> -->
                            </tab>
                        </tabset>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <form action="" method="post" class="form-horizontal">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                                        </div>
                                        <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                            placeholder="Filtrar resultados" [formControl]="filter">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-sm table-hover">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>No.</th>
                                            <th>Fuente</th>
                                            <th>Motivo</th>
                                            <th>Descripcion</th>
                                            <th>Usuario</th>
                                            <th>Tipo</th>
                                            <th>Estatus</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let busqueda of busquedas; index as i"
                                            style=" height: 10px;overflow:hidden;">
                                            <td>
                                                <h5 style="cursor:pointer;" (click)="getBusquedaDetalle(busqueda)" class="badge badge-pill badge-success">
                                                    {{busqueda.numero}}</h5>
                                            </td>
                                            <td>{{busqueda.fuente}}</td>
                                            <td>{{busqueda.motivo}}</td>
                                            <td>{{busqueda.descripcion}}</td>
                                            <td>{{busqueda.usuario}}</td>
                                            <td>
                                                <h4 style="cursor:pointer;" class="badge badge-pill badge-success">
                                                    {{busqueda.tipoBusqueda}}
                                                </h4>
                                            </td>
                                            <td>
                                                <h4 style="cursor:pointer;" class="badge badge-pill badge-warning">
                                                    {{busqueda.estatus}}
                                                </h4>
                                            </td>
                                            <td>{{busqueda.fecha}}</td>

                                        </tr>
                                        <div class="text-center py-3" *ngIf="this.busquedas$.length==0">
                                            No se encontraron resultados
                                        </div>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-between p-2">
                                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page"
                                        [boundaryLinks]="true" [pageSize]="pageSize" [maxSize]="5">
                                    </ngb-pagination>

                                    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                        <option [ngValue]="100">100 resultados</option>
                                        <option [ngValue]="150">150 resultados</option>
                                        <option [ngValue]="200">200 resultados</option>
                                        <option [ngValue]="300">300 resultados</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>
        </div>
    </div>
</div>