<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="icon-action-undo"> Detalle del resultado</i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div><strong class="h6">Indice de Parentesco (I.P.) : </strong> {{perfilesCompatibles.ip}}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div><strong class="h6">Porcentaje de Parentasco (P.P.) : </strong>
                                {{perfilesCompatibles.pp}}</div>
                        </div>
                        <div class="col-md-3">
                            <div><strong class="h6">Estado : </strong> {{perfilesCompatibles.estado}}</div>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="btn btn-success btn-circle" placement="top" tooltip="Eliminar"
                                (click)="redirect('/searches/result')">
                                Regresar a resultados</button>
                        </div>

                    </div>
                    <br>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <strong class="h5">Objetivo : {{perfilesCompatibles.genotipoObjetivo}} </strong>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <strong class="h5">Metadatos </strong>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <strong class="h5">Compatible : {{perfilesCompatibles.genotipoCompatible}} </strong>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <strong class="h5">Metadatos </strong>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong class="h5">Comparativa de marcadores </strong>
                                </div>
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Marcador</th>
                                                <th scope="col">Alelo 1</th>
                                                <th scope="col">Alelo 2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let marcador of perfilesCompatibles.marcadoresCompatibles;">
                                                <td>{{marcador.marcador}}</td>
                                                <td>{{marcador.objetivo.alelo1}}</td>
                                                <td>{{marcador.objetivo.alelo2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Marcador</th>
                                                <th scope="col">Alelo 1</th>
                                                <th scope="col">Alelo 2</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let marcador of perfilesCompatibles.marcadoresCompatibles;">
                                                <td>{{marcador.marcador}}</td>
                                                <!-- <td>{{marcador.compatible.alelo1}}</td> -->
                                                <td
                                                    [ngClass]="{'table-success':marcador.compatible.coincideAlelo1==1,
                                                                'table-danger':marcador.compatible.coincideAlelo1==2,
                                                                'table-warning':marcador.compatible.coincideAlelo1==3}">
                                                    {{marcador.compatible.alelo1}}
                                                </td>
                                                <!-- <td>{{marcador.compatible.alelo2}}</td> -->
                                                <td
                                                    [ngClass]="{'table-success':marcador.compatible.coincideAlelo2==1,
                                                                'table-danger':marcador.compatible.coincideAlelo2==2,
                                                                'table-warning':marcador.compatible.coincideAlelo2==3}">
                                                    {{marcador.compatible.alelo2}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>