<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="icon-action-undo"> Importacion de perfiles</i>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                        placeholder="Filtrar resultados" [formControl]="filter">
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-success btn-circle" placement="top"
                                    tooltip="Eliminar" (click)="importProfileModal.show();restartImportForm();">
                                    <i class="fa fa-plus-square"></i> Nueva importacion de perfiles</button>
                                <!-- <button type="button" class="btn btn-primary btn-circle" placement="top"
                                        tooltip="Eliminar" (click)="addLabelModal.show()">
                                        <i class="fa fa-tags"></i> Agregar etiquetas</button> -->
                            </div>
                        </div>
                    </form>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th>Fuente</th>
                                <th>Id de importacion</th>
                                <th>Fecha de importacion</th>
                                <th>Perfiles importados</th>
                                <th>Usuario</th>
                                <th>Titulo</th>
                                <th>Descargar</th>
                                <th>Desactivar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let import of imports; index as i" style=" height: 10px;overflow:hidden;">
                                <td>{{import.source?.name}}</td>
                                <td>{{import.importId}}</td>
                                <td>{{import.importDate}}</td>
                                <td>
                                    <h4 style="cursor:pointer;" (click)="showProfilesImport(import)"
                                        class="badge badge-pill badge-success">{{import.importedProfiles}}</h4>
                                </td>
                                <td>{{import.user}}</td>
                                <td>{{import.title}}</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle" tooltip="Editar"
                                        placement="top" (click)="editCategoryModal.show()">
                                        <i class="fa fa-pencil-square-o" aria-hidden="false"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-circle" placement="top"
                                        tooltip="Eliminar" (click)="deleteCategoryModal.show()">
                                        <i class="fa fa-window-close"></i></button>
                                </td>
                            </tr>
                            <div class="text-center py-3" *ngIf="this.imports.length==0">No se encontraron resultados
                            </div>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
                            [pageSize]="pageSize" [maxSize]="5">
                        </ngb-pagination>

                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                            <option [ngValue]="100">100 resultados</option>
                            <option [ngValue]="150">150 resultados</option>
                            <option [ngValue]="200">200 resultados</option>
                            <option [ngValue]="300">300 resultados</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODALES -->

<div bsModal #importProfileModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Importacion de perfiles geneticos</h5>
                <button type="button" class="close" (click)="importProfileModal.hide();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form [formGroup]="importForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Fuente * :</label>
                                <ng-select [items]="sources" bindLabel="name"
                                    placeholder="Seleccione la fuente"  appendTo=" body" 
                                    formControlName="source">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Etiquetas :</label>
                                <ng-select [items]="labels" bindLabel="name"
                                    placeholder="Seleccione las etiquetas"  appendTo=" body" multiple="true"
                                    formControlName="labels">
                                </ng-select>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Titulo * :</label>
                                <input type="text" class="form-control" id="name" formControlName="title"
                                    placeholder="Ingrese el titulo de la importacion ">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Tipo de muestra :</label>
                                <input type="text" class="form-control" id="name" formControlName="sample"
                                    placeholder="Ingrese el tipo de muestra">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Observaciones :</label>
                                <input type="text" class="form-control" id="name" formControlName="observations"
                                    placeholder="Ingrese las observaciones">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label" for="file-input">Archivo a importar * :</label>
                                <div class="">
                                    <input type="file" id="file-input" formControlName="file" name="file-input"
                                        (change)="onFileSelect($event.target.files)" accept=".xlsx">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div *ngIf="isLoading" class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" class="btn btn-danger" (click)="importProfileModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="startImport()"
                    [disabled]="importForm.invalid">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->