<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="icon-action-undo"> Detalles de importacion</i>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                        placeholder="Filtrar resultados" [formControl]="filter">
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-success btn-circle" placement="top"
                                    tooltip="Eliminar" (click)="redirect('/imports');">
                                     Regresar a importaciones</button>
                                <!-- <button type="button" class="btn btn-primary btn-circle" placement="top"
                                                tooltip="Eliminar" (click)="addLabelModal.show()">
                                                <i class="fa fa-tags"></i> Agregar etiquetas</button> -->
                            </div>
                        </div>
                    </form>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th>Id interno</th>
                                <th>Id externo</th>
                                <th>Marcadores</th>
                                <th>Homocigotos</th>
                                <th>Usuario</th>
                                <th>Estatus</th>
                                <th>Fecha de creacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let profile of profiles; index as i" style=" height: 10px;overflow:hidden;">
                                <td>P-{{profile.id}}</td>
                                <td>
                                    <h4 style="cursor:pointer;" (click)="viewProfileDetail(profile)"
                                        class="badge badge-pill badge-success">{{profile.externalId}}
                                    </h4>
                                </td>
                                <td>{{profile.markers}}</td>
                                <td>{{profile.homocigotos}}</td>
                                <td>{{profile.user}}</td>
                                <td>{{profile.status}}</td>
                                <td>{{profile.registrationDate}}</td>
                                <!-- <td><h4 style="cursor:pointer;"  (click)="showProfilesImport(import)"
                                            class="badge badge-pill badge-success">{{import.importedProfiles}}</h4></td>
                                        <td>{{import.user}}</td>
                                        <td>{{import.title}}</td>
                                        <td>
                                            <button type="button" class="btn btn-success btn-circle" tooltip="Editar"
                                                placement="top" (click)="editCategoryModal.show()">
                                                <i class="fa fa-pencil-square-o" aria-hidden="false"></i></button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-circle" placement="top"
                                                tooltip="Eliminar" (click)="deleteCategoryModal.show()">
                                                <i class="fa fa-window-close"></i></button>
                                        </td> -->
                            </tr>
                            <div class="text-center py-3" *ngIf="this.profiles.length==0">No se encontraron resultados
                            </div>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
                            [pageSize]="pageSize" [maxSize]="5">
                        </ngb-pagination>

                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                            <option [ngValue]="100">100 resultados</option>
                            <option [ngValue]="150">150 resultados</option>
                            <option [ngValue]="200">200 resultados</option>
                            <option [ngValue]="300">300 resultados</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>