<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="icon-action-undo"> Resultado de la busqueda</i>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <strong class="h4">Detalles de la busqueda </strong>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <div><strong class="h6">Fuente solicitante : </strong> {{searchDetail.fuente}}</div>
                            <div><strong class="h6">usuario : </strong> {{searchDetail.usuario}}</div>
                            <div><strong class="h6">Fecha : </strong> {{searchDetail.fecha}}</div>
                            <div><strong class="h6">Motivo de la busqueda : </strong> {{searchDetail.motivo}}</div>
                            <div><strong class="h6">Descripcion de la busqueda : </strong> {{searchDetail.descripcion}}
                            </div>
                            <div><strong class="h6">conclusiones : </strong>{{searchDetail.conclusiones}}</div>
                            <!-- <div><strong class="h6">Usuario que registró : </strong>{{profile.user}}</div> -->

                        </div>
                        <div class="col-md-6">
                            <strong class="h4">Parámetros de la busqueda </strong>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <div><strong class="h6">Marcadores minimos usados : </strong> {{searchDetail.marcadores}}
                            </div>
                            <div><strong class="h6">Exclusiones máximas : </strong> {{searchDetail.exclusiones}}</div>
                            <div><strong class="h6">Tabla de frecuencias usada : </strong>
                                {{searchDetail.tablaFrecuencias}}</div>
                            <div><strong class="h6">Perfiles en revisión descartados : </strong>
                                {{searchDetail.descartarPerfilesRevision}}</div>
                            <div><strong class="h6">Etiquetas objetivo : </strong>
                                <h4 style="cursor:pointer;" *ngFor="let label of searchDetail.etiquetasObjetivo"
                                    class="badge badge-pill badge-success">{{label}}</h4>
                            </div>
                            <div><strong class="h6">Etiquetas a comparar : </strong>
                                <h4 style="cursor:pointer;" *ngFor="let label of searchDetail.etiquetasAComparar"
                                    class="badge badge-pill badge-success">{{label}}</h4>
                            </div>
                            <!-- <div><strong class="h6">Usuario que registró : </strong>{{profile.user}}</div> -->

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <form action="" method="post" class="form-horizontal">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                        placeholder="Filtrar resultados" [formControl]="filter">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-success btn-circle" placement="top" tooltip="Eliminar"
                                (click)="redirect('/searches')">
                                Regresar a busquedas</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-sm table-hover">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>Genotipo objetivo</th>
                                        <th>Genotipo compatible</th>
                                        <th>Estado P. compatible</th>
                                        <th>Amel</th>
                                        <th>I.P.</th>
                                        <th>P.P.</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let perfil of perfilesCompatibles; index as i"
                                        style=" height: 10px;overflow:hidden;">
                                        <td>
                                            <h5 style="cursor:pointer;" 
                                                class="badge badge-pill badge-success">{{perfil.genotipoObjetivo}}</h5>
                                        </td>
                                        <td>
                                            <h5 style="cursor:pointer;" (click)="showCompatibleResult(perfil)"
                                                class="badge badge-pill badge-primary">{{perfil.genotipoCompatible}}</h5>
                                        </td>
                                        <td>{{perfil.estado}}</td>
                                        <td>{{perfil.amel}}</td>
                                        <td>{{perfil.ip}}</td>
                                        <td>{{perfil.pp}}</td>
                                        <td>
                                            <h4 style="cursor:pointer;" class="badge badge-pill badge-success">option
                                            </h4>
                                        </td>

                                    </tr>
                                    <div class="text-center py-3" *ngIf="this.perfilesCompatibles$.length==0">No se
                                        encontraron
                                        resultados
                                    </div>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between p-2">
                                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
                                    [pageSize]="pageSize" [maxSize]="5">
                                </ngb-pagination>

                                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                                    <option [ngValue]="100">100 resultados</option>
                                    <option [ngValue]="150">150 resultados</option>
                                    <option [ngValue]="200">200 resultados</option>
                                    <option [ngValue]="300">300 resultados</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>