<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="icon-action-undo"> Perfil genetico : {{profile.externalId}}</i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                            <div class="col-md-6 text-right">
                                    <button type="button" class="btn btn-success btn-circle" placement="top"
                                        tooltip="Eliminar" (click)="redirect('/imports/profiles');">
                                         Regresar a detalle de importacion</button>
                                    <!-- <button type="button" class="btn btn-primary btn-circle" placement="top"
                                                    tooltip="Eliminar" (click)="addLabelModal.show()">
                                                    <i class="fa fa-tags"></i> Agregar etiquetas</button> -->
                                </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="h4">Datos del perfil </strong>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <div><strong class="h6">Id interno : </strong> {{profile.internalId}}</div>
                            <div><strong class="h6">Id externo : </strong> {{profile.externalId}}</div>
                            <div><strong class="h6">Marcadores : </strong> {{profile.markers}}</div>
                            <div><strong class="h6">Homocigotos : </strong> {{profile.homocigotos}}</div>
                            <div><strong class="h6">Fecha de registro : </strong> {{profile.registrationDate}}</div>
                            <div><strong class="h6">Estatus : </strong>{{profile.status}}</div>
                            <div><strong class="h6">Usuario que registró : </strong>{{profile.user}}</div>
                            <br>
                            <br>
                            <strong class="h4">Metadatos </strong>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <br>
                            <br>
                            <strong class="h4">Etiquetas </strong>
                            <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <strong class="h4">Marcadores  </strong>
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div>
                                        <table class="table">
                                                <thead class="thead-dark">
                                                  <tr>
                                                    <th scope="col">Marcador</th>
                                                    <th scope="col">Alelo 1</th>
                                                    <th scope="col">Alelo 2</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr *ngFor="let marker of profile.markersProfile;">
                                                    <td>{{marker.name}}</td>
                                                    <td>{{marker.alele1}}</td>
                                                    <td>{{marker.alele2}}</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>