<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo_gobierno_mx.png', width: 100, height: 40, alt: 'GOB_MX Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="''">
  
  <!-- <cui-breadcrumb>
    </cui-breadcrumb> -->
  <ul class="nav navbar-nav ml-auto">
    
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/user.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Cuenta</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Cerrar sesion</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
    
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <li class="breadcrumb-menu d-md-down-none" style="list-style: none;"> 
      <br>
        <!-- <div class="btn-group" role="group" aria-label="Button group with nested dropdown"> -->
          <!-- <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a> -->
        <!-- </div> -->
      </li>
    
    <!-- //contenido principal -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<!-- <app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer> -->
