<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="fa fa-line-chart"> Tablas de frecuencia</i>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                        placeholder="Filtrar resultados" [formControl]="filter">
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-success btn-circle" placement="top"
                                    tooltip="Eliminar" (click)="addFrequencyModal.show()">
                                    <i class="fa fa-th"></i> Importar tabla de frecuencias</button>

                            </div>
                        </div>
                    </form>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th>Id importación</th>
                                <th>Nombre</th>
                                <th>Archivo</th>
                                <th>Usuario</th>
                                <th>Fecha de importación</th>
                                <th>Descargar</th>
                                <th>Asignar por defecto</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let frequency of frequencies; index as i"
                                style=" height: 10px;overflow:hidden;">
                                <td>{{frequency.importId}}</td>
                                <td>{{frequency.name}}</td>
                                <td>{{frequency.fileName}}</td>
                                <td>{{frequency.user}}</td>
                                <td>{{frequency.date}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-circle"
                                        (click)="getFrequencyFile(frequency)">
                                        <i class="fa fa-cloud-download"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle"
                                        (click)="setSelectedFrequency(frequency);
                                        defaultFrequencyModal.show()">
                                        <i *ngIf="frequency.assignedByDefault" class="fa fa-check-square"></i>
                                        <i *ngIf="!frequency.assignedByDefault" class="fa fa-square-o"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-circle"
                                        (click)="setSelectedFrequency(frequency);
                                        deleteFrequencyModal.show()">
                                        <i class="fa fa-window-close"></i></button>
                                </td>
                            </tr>
                            <div class="text-center py-3" *ngIf="this.frequencies.length==0">No se encontraron
                                resultados
                            </div>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
                            [pageSize]="pageSize" [maxSize]="5">
                        </ngb-pagination>
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                            <option [ngValue]="100">100 resultados</option>
                            <option [ngValue]="150">150 resultados</option>
                            <option [ngValue]="200">200 resultados</option>
                            <option [ngValue]="300">300 resultados</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODALS -->


<div bsModal #addFrequencyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Importar tabla de frecuencias</h5>
                <button type="button" class="close" (click)="addFrequencyModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="importForm">
                        <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="name">Nombre :</label>
                                        <input type="text" class="form-control" id="name" formControlName="name"
                                            placeholder="Ingrese el nombre de la tabla de frecuencias">
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                            <div class="row">
            
                                <div class="col-sm-12 ">
                                    <!-- <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div> -->
                                    <label class="col-form-label" for="file-input">Archivo a importar:</label>
                                    <div class="">
                                        <input type="file" id="file-input" name="file-input" formControlName="file"
                                        (change)="onFileSelect($event.target.files)" accept=".xlsx">
                                    </div>
                                </div>
                            </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="addFrequencyModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="startImport()" [disabled]="importForm.invalid">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteFrequencyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Editar categoria</h4>
                <button type="button" class="close" (click)="addCategoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <h6>Esta seguro de desactivar la tabla de frecuencias?</h6>

                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteFrequencyModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="deleteFrequency()" >Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #defaultFrequencyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Editar categoria</h4>
                <button type="button" class="close" (click)="addCategoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <h6>Esta asignar esta tabla de frecuencias por default?</h6>

                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="defaultFrequencyModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)="assignByDefault()">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->