<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-left">
                        <i class="fa fa-th"> Categorias</i>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="post" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" id="input1-group1" name="input1-group1" class="form-control"
                                        placeholder="Filtrar resultados" [formControl]="filter">
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-success btn-circle" placement="top"
                                    tooltip="Eliminar" (click)="addCategoryModal.show();restartCategoryForm();">
                                    <i class="fa fa-th"></i> Agregar categoria</button>
                                <button type="button" class="btn btn-primary btn-circle" placement="top"
                                    tooltip="Eliminar" (click)="addLabelModal.show();restartLabelForm();">
                                    <i class="fa fa-tags"></i> Agregar etiquetas</button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th>Id categoria</th>
                                <th>Nombre</th>
                                <th>Etiquetas registradas</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories; index as i" style=" height: 10px;overflow:hidden;">
                                <td>{{category.id}}</td>
                                <td>{{category.name}}</td>
                                <td>
                                    <h4 style="cursor:pointer;" (click)="findByCategory(category);labelsModal.show()"
                                        class="badge badge-pill badge-success">{{category.associatedLabels}}</h4>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle" tooltip="Editar"
                                        placement="top"
                                        (click)="
                                        setSelectedCategory(category);
                                        restartSelectedCategoryForm();
                                        editCategoryModal.show();">
                                        <i class="fa fa-pencil-square-o" aria-hidden="false"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-circle" placement="top"
                                        tooltip="Eliminar"
                                        (click)="deleteCategoryModal.show();setSelectedCategory(category)">
                                        <i class="fa fa-window-close"></i></button>
                                </td>
                            </tr>
                            <div class="text-center py-3" *ngIf="this.categories.length==0">No se encontraron resultados
                            </div>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"
                            [pageSize]="pageSize" [maxSize]="5">
                        </ngb-pagination>

                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                            <option [ngValue]="100">100 resultados</option>
                            <option [ngValue]="150">150 resultados</option>
                            <option [ngValue]="200">200 resultados</option>
                            <option [ngValue]="300">300 resultados</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- ================= -->
<!-- MODALES -->
<!-- ================= -->

<div bsModal #addCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar categoria</h5>
                <button type="button" class="close" (click)="addCategoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="categoriesForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Nombre :</label>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre de la categoria">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="addCategoryModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" [disabled]="categoriesForm.invalid"
                    (click)="addCategory()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #editCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-success " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar categoria</h5>
                <button type="button" class="close" (click)="editCategoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="selectedCategoryForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Nombre :</label>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre de la categoria">
                            </div>
                        </div>
                    </div>
                </form>

                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="editCategoryModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" [disabled]="selectedCategoryForm.invalid" 
                (click)="updateCategory()">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #addLabelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar etiquetas</h5>
                <button type="button" class="close" (click)="addLabelModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="labelsForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Nombre/s :</label>
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Ingrese el nombre de la/las etiquetas, separadas por comas">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="name">Categoria :</label>
                            <select id="select1" name="select1" class="form-control" formControlName="categoryId">
                                <option value="0">Seleccione una categoria</option>
                                <option *ngFor="let category of categories$;" value="{{category.id}}">
                                    {{category.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="addLabelModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="addLabels()"
                    [disabled]="labelsForm.invalid">Guardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #deleteCategoryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">Editar categoria</h4>
                <button type="button" class="close" (click)="addCategoryModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <h6>Esta seguro de eliminar la categoria?</h6>
                <!--/.row-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteCategoryModal.hide()">Cancelar</button>
                <button type="button" class="btn btn-success" (click)='deleteCategory()'>Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #labelsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr class="bg-primary">
                            <th>Id etiqueta</th>
                            <th>Nombre</th>
                            <th>Fecha creacion</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let label of labelsCategory; index as i" style=" height: 10px;overflow:hidden;">
                            <td>{{label.id}}</td>
                            <td>{{label.name}}</td>
                            <td>{{label.creationDate}}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-circle" tooltip="Editar"
                                    placement="top"
                                    (click)="
                                    setSelectedCategory(category);
                                    restartSelectedCategoryForm();
                                    editCategoryModal.show();">
                                    <i class="fa fa-pencil-square-o" aria-hidden="false"></i></button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-circle" placement="top"
                                    tooltip="Eliminar"
                                    (click)="deleteCategoryModal.show();setSelectedCategory(category)">
                                    <i class="fa fa-window-close"></i></button>
                            </td>
                        </tr>
                        <div class="text-center py-3" *ngIf="this.labelsCategory.length==0">No se encontraron resultados
                        </div>
                    </tbody>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="labelsModal.hide()">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->